<div class="button_cont">
  <% if user_signed_in? %>
      <%= link_to 'Create a New Post!', new_user_post_path(current_user), class: 'button' %>
    <% else %>
      <%= link_to 'Sign In', new_user_session_path, class: "button"%>
      <%= link_to 'Sign Up', new_user_registration_path, class: "button"%>
    <%end%>
</div>
